@import "../../../src/sass/Variable.scss";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .Blog-Color{
    color: $brand-clr;
  }

  .Blog-Color2{
    color: grey;
    justify-content: flex-end;
    display: flex; 
    align-items: flex-end;
    font-size: 20px;
  }
  .WordPress{
   font-size:15px ;
   color: grey;
  }