* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  } 


    .bg-img {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
    }


.why-us {
    background-attachment: fixed;
    position: relative;
}

.why-us .sec-item {
    padding: 25% 0;
}

.sec-title-inv {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 45px;
} 

.sub-title-inv{
    font-size: 16px;
}

.why-us .btn-more {
    margin-top: 25px;
}

.btn-more {
    padding: 6px 30px;
}

.btn-default, .btn-default:hover, .btn-default:focus {
    background-color: #fff;
    border-color: #fff;
    color: #dc7603;
}

.why-us .sec-count {
    padding: 12% 0;
}

.text-center {
    text-align: center;
}

.why-us::before {
    background: rgba(0, 0.5, 0, 0.6); /* Adjust the alpha channel for increased opacity */
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;


}