@import "../../../src/sass/Variable.scss";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 

.sec-title {
  text-transform: uppercase;
  line-height: 45px;
  color: $brand-clr;
  margin: 0 25px;
  margin-bottom: 30px;
}

.sub-title {
  text-transform: lowercase;
  font-size: 32px;
  margin-top: 24px;
  color: grey;
  text-decoration: none;
}

.btn-more {
  margin-top: 30px;
  padding: 6px 30px;
}

.btn-primary {
  background-color: $brand-clr;
  border-color: $brand-clr;
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 4px 27px;
}
