@import "../../../src/sass/Variable.scss";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  } 

  .Contact-Color{
    color: $brand-clr;
  }

  .Contact-Color2{
    color: grey;
    justify-content: flex-end;
    display: flex; 
    align-items: flex-end;
    font-size: 20px;
  }
  .ContactCard{
    background-color: #F7F7F7;
    margin: 80px 0px;
    padding: 20px 25px;
    position: relative;
  }
  .Office-card{
    font-weight: 300;
    color: $brand-clr;
  }
  .Headquater-card{
    color:#8294B1
  }
  .fahome{
  position: absolute;
  left: 10px; 
  color: $brand-clr;
  font-size: 20px;
  } 

  .Subcard{
    border: none;
    border-radius: none;
    margin-top: 75px;
  }
  

  #formName{

    border-radius: 2px;
    
  }

  #formSubject{
    border-radius: 2px;
  }

  
.btn-outline {
    background-color: transparent !important;
}
.SendMessage{
    padding: 10px 20px;
    margin-bottom: 15px;
}

.Text-color::placeholder {
    color:#8294B1
  }

