.footer {
    background-color: #dc7603;
    padding: 42px 0;
}

.F-color{
    color: white;
}

.Text-sizee{
    font-size: 13px;
}
.Mline{
    color: white;
}
.img-responsive{
    
        display: block;
        max-width: 100%;
        height: auto;
    
}

.logo{
    width: 160px;
}

.social-links a {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 44px;
    margin: 0 5px;
    padding-top: 10px;
    text-align: center;
    width: 44px;
}

.Last-text{
    color: white;
}