.Latest{
    color: #d97701;
}

.LatestCard{
width: 22rem; 
border: none;
border-radius: none;
}

.SetTil{
    color: #d97701;
}

.BabyShower{
    color: #666;
    font-size: 14px;
    font-weight: 300;
}
.get-work .btn {
    border-width: 2px;
    font-size: 21px;
}
.btn-outline.btn-primary {
    border-color: #dc7603;
    color: #dc7603;
}


.get-work .btn {
    border-width: 2px;
    font-size: 21px;
}
.btn-outline.btn-primary {
    border-color: #dc7603;
    color: #dc7603;
}
.btn-primary {
    background-color: #dc7603;
    border-color: #dc7603;
}
.btn-big {
    padding: 12px 50px;
}
.btn-outline {
    background-color: transparent !important;
}