.Latest{
    color: #d97701;
}

.LatestCard{
width: 22rem; 
border: none;
border-radius: none;
}

.SetTil{
    color: #d97701;
}

.BabyShower{
    color: #666;
    font-size: 14px;
    font-weight: 300;
}