* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }


.logo{ 
height: 50px;
}

.nav-item{
    padding: 12px;
    text-align: end;
} 

.nav-but{
    padding: 20px;
    text-align: end;
    
}
.navbar-toggler{
    color: white !important;
    align-items: right !important;
    
}
 .span.navbar-toggler-icon{
    color: white !important;
}  

.navbar-nav .nav-link {
    color: #D9D9D9 !important;
  }

  .nav-item .active {
    border-bottom: 2px solid white; 
    text-decoration: none;

    padding: 5px;
}
.navbar {
  position: relative;
  z-index: 2; 
}

